@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单-->
		@ var _table="yb_course";
		@ var _col=[
			@		{name:"编码", index:"course_code",type:"text",newline:true,length:3,required:"required"},
			@		{name:"课程名称", index:"course_name",type:"text",newline:false,length:3,required:"required"},
			@		{name:"阶段类型", index:"phaseid",type:"selectself_phase_name",newline:true,length:5,required:"required"},
			@		{name:"镜像", index:"mirrorid",type:"selectself_mirror_name",newline:false,length:5,required:"required"},
			@		{name:"课程描述", index:"description",type:"ueditor",newline:true,length:3,required:"required"},
			@		{name:"状态", index:"status",type:"select_902",newline:true,length:3,required:"required",table:"yb_course"},
			@		{name:"创建时间", index:"create_time",type:"laydate",value:func.getTime(),newline:true,length:8,required:"required"},
			@		{name:"网络", index:"netid",type:"selectself_net_name",newline:true,length:5,required:"required"},
			@		{name:"硬件", index:"flavorid",type:"selectself_flavor_name",newline:true,length:5,required:"required"},
			@		{name:"图片", index:"image_url",type:"imgupload",newline:true,length:5,required:"required"}
			@      ];
		    @ include("/common/_curd/_add.html", {"col":_col, "table":_table}){}
		
		      <!-- 按钮-->
		    @ include("/common/_curd/_btn.html", {btn_save:"新增", btn_close:"关闭"}) {}
	</form>

@}
