@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单-->
		@ var _table="yb_section";
		@ var _col=[
		@			  {name:"编码", index:"section_code", type:"text", newline:true,length:5,required:"required"},
		@			  {name:"章节名称", index:"section_name", type:"text", newline:true,length:5,required:"required"},
		@			  {name:"课程名称", index:"courseid", type:"selectself_course_name",newline:true,length:5,required:"required"},
		@			  {name:"文档名称", index:"docid", type:"selectself_doc_name",newline:true,length:5,required:"required"},
		@			  {name:"章节描述", index:"section_describe", type:"text",newline:true,length:5,required:"required"},
		@			  {name:"创建时间", index:"create_time", type:"date",newline:true,length:5,required:"required"}
		@		   ];
		@ include("/common/_curd/_add.html", {"col":_col, "table":_table}){}
		
		<!-- 按钮-->
		@ include("/common/_curd/_btn.html", {btn_save:"新增", btn_close:"关闭"}) {}
	</form>

@}
