@layout("/common/_curd/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
	<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="yb_course_tree";
		@if(level! == 3){
		@ var _col=[
		@			  {name:"课程名称",index:"name", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"排序",index:"num",type:"number",newline:true,length:3,required:"required"},
		@			  {name:"上级课程",index:"pid", type:"selectCostree",value:pid!,newline:false,length:3,required:"required"},
		@			  {name:"镜像", index:"mirrorid",type:"selectself_mirror_name",newline:true,length:8,required:"required"},
		@			  {name:"网络", index:"netid",type:"selectself_net_name",newline:true,length:3,required:"required"},
		@			  {name:"硬件", index:"flavorid",type:"selectself_flavor_name",newline:false,length:3,required:"required"},
		@			  {name:"状态",index:"status", type:"select_902",value:1,newline:true,length:3,required:"required"},
		@			  {name:"层级",index:"level", type:"number",value:1,newline:false,length:3,required:"required min=1"},
		@			  {name:"课程图片", index:"imageid", type:"imgupload",newline:true,length:5,required:"required"}
		@		   ];
		@ include("/common/_curd/_add.html",{"col":_col,"table":_table}){}
		@} else if(level! == 4){
		@ var _col=[
		@			  {name:"课程名称",index:"name", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"排序",index:"num",type:"number",newline:true,length:3,required:"required"},
		@			  {name:"上级课程",index:"pid", type:"selectCostree",value:pid!,newline:false,length:3,required:"required"},
		@			  {name:"状态",index:"status", type:"select_902",value:1,newline:true,length:3,required:"required"},
		@			  {name:"层级",index:"level", type:"number",value:1,newline:false,length:3,required:"required min=1"},
		@			  {name:"课程文档", index:"docid", type:"fileupload",newline:false,length:5,required:"required"}
		@		   ];
		@ include("/common/_curd/_add.html",{"col":_col,"table":_table}){}
		@}else {
		@ var _col=[
		@			  {name:"课程名称",index:"name", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"排序",index:"num",type:"number",newline:true,length:3,required:"required"},
		@			  {name:"上级课程",index:"pid", type:"selectCostree",value:pid!,newline:false,length:3},
		@			  {name:"状态",index:"status", type:"select_902",value:1,newline:true,length:3,required:"required"},
		@			  {name:"层级",index:"level", type:"number",value:1,newline:false,length:3,required:"required min=1"}
		@		   ];
		@ include("/common/_curd/_add.html",{"col":_col,"table":_table}){}
		@}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"新增",btn_close:"关闭"}) {}
		

	</form>
	
	<script type="text/javascript">
		$(function(){
			if("${pid!}"!=""&&"${num!}"!=""){
				$("#_num").val("${num!}");
				$("#_level").val("${level!}");
				$("#_level").val("${level!}");
				$("#_name").focus();
			}
			$("#btn_save").bind("click",function(){
				setTimeout(function(){parent.initZtree();}, 499);
			});
		});
	</script>
	
@}
