@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="yb_course_type";
		@ var _col=[
		@			  {name:"编码", index:"type_code",  type:"text", newline:true,length:3,required:"required"},
		@			  {name:"课程类型", index:"type_name",  type:"text", newline:false,length:3,required:"required"}
		@		   ];
		@ include("/common/_curd/_add.html", {"col":_col, "table":_table}){}
		
		<!-- 按钮-->
		@ include("/common/_curd/_btn.html", {btn_save:"新增", btn_close:"关闭"}) {}
	</form>

@}
