@layout("/common/_curd/_container.html"){
<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#aaaaa";
	var pager_selector = "#grid-pager";

	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});

	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = ["ID", "用户名", "课程名称", "虚拟机编码","实验时间","实验状态","实验报告","实验分数","评价"];
		var _colmodel = [{name:"id", index:"id", width:100,hidden:true},
						{name:"user_name", index:"user_name", width:100},
						{name:"course_name", index:"course_name", width:100},
						{name:"server_code", index:"server_code", width:100},
						{name:"create_time", index:"create_time", width:100},
						{name:"status", index:"status", width:100},
						{name:"reportid", index:"reportid", width:100},
						{name:"score", index:"score", width:100},
						{name:"level", index:"level", width:100}
						];
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel,
			jsonReader : {id :"id"},
			pager : pager_selector,
			ondblClickRow : page_view,
			postData : {sort : "id", order : "desc"}
		});
	}

	function page_view(){
		$("#${code}_view").click();
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
			@		{name:"ID", index:"id", type:"text"},
			@		{name:"用户名", index:"user_name", type:"text"},
			@		{name:"课程名称", index:"course_name", type:"text"},
			@		{name:"虚拟机编码", index:"server_code", type:"text"},
			@		{name:"实验时间", index:"create_time", type:"text"},
			@		{name:"实验状态", index:"status", type:"text"},
			@		{name:"实验报告", index:"reportid", type:"text"},
			@		{name:"实验分数", index:"score", type:"text"},
			@		{name:"评价", index:"level", type:"test"}
			@           ];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="aaaaa"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	