@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/update" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="yb_student";
		@ var _key="id";
		@ var _col=[
		@			  {name:"用户名", index:"user_name", type:"text",newline:true,length:5,required:"required"},
		@			  {name:"密码", index:"user_password", type:"text",newline:true,length:5,required:"required"},
		@			  {name:"专业", index:"majorid", type:"selectself_major_name",newline:true,length:5,required:"required"}
		@		   ];
		@ include("/common/_curd/_edit.html", {"col":_col, "table":_table, "key":_key}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"修改", btn_close:"关闭"}) {}
	</form>

@}